# Global Code Owners for rootnode-rebels
# This file applies to all repositories in the organization.

# Tier 1: Mandatory Code Reviewers
* @theakashr @theakshath @developerakashp

# Tier 2: Final Approvers 
* @developeradhi @suhashoskere @jeevanhs06 
